<div class="d-none d-md-block row my-3 text-center">

  <div class="col-6 my-3 mx-auto">
    <div class="card border-0 border-radius-1 shadow-sm h-100 mx-md-2 overflow-hidden">
      <div class="p-2">

        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary rounded-pill my-1 font-poppins" data-toggle="modal" data-target="#new-post-category">
            <i class="las la-plus"></i>
            Recomendar
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
