<div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">

  <div data-target="infinite-scroll.entries" class="row row-cols-1 row-cols-lg-2">
    <%= render @posts %>
  </div>

  <div data-target="infinite-scroll.pagination" class="d-none">
    <%= pagy_nav(@pagy).html_safe %>
  </div>

</div>
